
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.carousel-fade .carousel-inner .carousel-logo{
    background-image: url('../img/logo2.png');
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(255,255,255);
    border-radius: 70px;
    width: 30%;
    margin: 0 35%;
    background-size: 75%;
}
.carousel-fade .carousel-caption {
    text-shadow: 0 1px 4px rgba(0,0,0,.9);
    font-size:17px;
    margin-bottom: 8%;
}
.carousel-fade .carousel-caption h3 {
  font-size: 30px;
}
 html,
body, 
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
} 
#carouselFade .item{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.item:nth-child(1) {
    background-image: url('../img/data-mining.jpg');
    /* background-position-y: 70% !important; */
}
.item:nth-child(2) {
    background-image: url('../img/artificial-intelligence.jpg');
}
.item:nth-child(3) {
    background-image: url('../img/consulting.jpg');
}
.item:nth-child(4) {
    background-image: url('../img/innovation.jpg');
}
.item:nth-child(5) {
    background-image: url('../img/solutions.jpg');
}
@media screen and (max-width:768px) {
    #carouselFade .carousel-caption{
        margin-bottom: 35%;
    }
    .carousel-fade .carousel-inner .carousel-logo{
        background-image: url('../img/logo2.png');
        height: 90px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: rgb(255,255,255);
        border-radius: 73px;
        width: 90%;
        margin: 0 8%;
    }
}
/* All styling takes place on the label element */
.carousel-indicators li {
  display: inline-block;
  background: #ddd;
  overflow: hidden;
  text-indent: -999px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  box-shadow: inset 0 1px 1px 0 #999;
}
.carousel-indicators li:hover {
  background: #bbb;
  cursor: pointer;
  box-shadow: inset 0 1px 1px 0 #777;
}
.carousel-indicators li.active {
  background-color: rgb(164,207,57);
  box-shadow: inset 0 0 1px 1px rgb(164,207,57);
}